.header {
  text-align: center;
  font-size: 3.2rem;
  padding: 3.2rem;
}
.header span {
  color: white;
}
.half_background {
  background: linear-gradient(to top, #3ddb83 50%, transparent 50%);
}
.background {
  background-color: #4384f2;
  padding-bottom: 3.4rem;
  margin-left: 94px;
}

.prize_img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 210px;
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.prize_img_wrapper_position {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 210px;
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.prize_img_size {
  width: 50%;
  max-width: 150px;
  height: auto;
  text-decoration: none;
}
.prize_imgbig_size {
  width: 20%;
  max-width: 150px;
  height: auto;
  text-decoration: none;
}
.prize_type_head {
  font-weight: 900;
  font-style: italic;
  font-size: 1.8rem;
  text-align: center;
  margin: 0.5rem auto 4.5rem auto;
  color: #fff;
  z-index: 3;
}
.prize_type {
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
  margin: 0.5rem auto 4.5rem auto;
  color: #fff;
}
.prize_wrapper {
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 5px;
}

.prize_wrapper_position {
  border: 5px solid #0e2e49;
  background-color: #0e2e49;
  border-radius: 5px;
  z-index: 3;
}

.prize_wrapper_position p {
  color: #fff;
}

.prize_wrapper p {
  color: #4384f2;
}
.prize_label_position {
  font-size: 1.4rem;
  font-weight: 900;
  color: #3ddb83;
}

.prize_label {
  font-size: 1.4rem;
  font-weight: 900;
}

.sponsors_prize {
  color: #4384f2;
}
@media only screen and (max-width: 1027px) {
  .prize_label {
    font-size: 1.05rem;
    font-weight: 900;
  }
  .prize_wrapper p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 768px) {
  .prize_label {
    font-size: 1.3rem;
    font-weight: 900;
  }
  .prize_wrapper p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .background {
    margin-left: 0;
  }
  .prize_type {
    font-size: 1.5rem;
    margin: 0.5rem auto 3rem auto;
  }
}
.bar_left {
  position: absolute;
  padding: 15px;
  width: 15vw;
  background: #3ddb83;
  margin-top: 150px;
}
.bar_right {
  position: absolute;
  width: 15vw;
  padding: 15px;
  right: 0;
  background: #3ddb83;
  margin-top: 150px;
}
.trophyLeft {
  position: absolute;
  margin-top: 220px;
  z-index: 2;
}
.trophyRight {
  position: absolute;
  margin-top: 500px;
  right: 0;
  z-index: 2;
  height: 350px;
  /* max-height: 570px;
  width: auto; */
}
.popperLeft {
  position: absolute;
  margin-top: 200px;
  z-index: 1;
}
.popperRight {
  position: absolute;
  margin-top: 510px;
  right: 0;
  height: 150px;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .trophyRight {
    margin-top: 210px;
  }
  .popperRight {
    margin-top: 220px;
  }
  .popperLeft {
    margin-top: 215px;
  }
  .trophyLeft {
    margin-top: 230px;
  }
}
@media only screen and (max-width: 380px) {
  .trophyRight {
    margin-top: 240px;
    height: 250px;
  }
  .popperRight {
    margin-top: 250px;
    height: 110px;
  }
  .trophyLeft {
    margin-top: 250px;
    height: 250px;
  }
  .popperLeft {
    margin-top: 235px;
  }
}
