.header {
  text-align: center;
  font-size: 3.2rem;
  padding: 3.2rem;
}

.header span {
  color: white;
}

.half_background {
  background: linear-gradient(to top, #4384f2 50%, transparent 50%);
}

.background {
  background-color: #3ddb83;
  padding-bottom: 3.4rem;
  margin-left: 94px;
  overflow-x: hidden;
}

.number {
  color: #0e2e49;
  font-size: 44px;
  margin-left: 15px;
}

.alpha {
  color: #0e2e49;
  font-size: 24px;
  margin-left: 60px;
}

.rule {
  color: white;
  font-size: 24px;
  margin-left: 25px;
}

.rr{
  margin-left: 30px;
}

@media only screen and (max-width: 600px) {
  .background {
    margin-left: 0;
  }
}