.header {
  text-align: center;
  font-size: 3.2rem;
  padding: 3.2rem;
  padding-top: 0;
  padding-bottom: 3rem;
}

.header_text {
  text-align: center;
  font-size: 3.2rem;
  padding: 0 3.2rem 3.2rem 3.2rem;
  margin-top: 0;
}

.logo_text {
  text-align: center;
  font-size: 3.2rem;
  padding: 0 3.2rem 3.2rem 3.2rem;
  margin-top: 3rem;
}

.header span {
  color: white;
}

.half_background {
  background: linear-gradient(to top, #4384f2 50%, transparent 50%);
}

.background {
  background-color: #f6f6f6;
  padding-bottom: 3.4rem;
  margin-left: 94px;
  overflow-x: hidden;
}

.pre_head {
  color: #3ddb83;
  font-size: 22px;
  margin-left: 412px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post_head {
  color: #4383f2;
  font-size: 22px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 308px;
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.logo_main {
  padding-top: 132px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.text_img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding-top: 94px;
  width: 308px;
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.logo_img_wrapper {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding-top: 94px;
  width: 308px;
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.title {
  align-items: center;
  justify-content: center;
  color: #0e2e49;
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding-top: 1rem;
}

.college_title {
  align-items: center;
  justify-content: center;
  color: #0e2e49;
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding-top: 1rem;
}

.social {
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding-top: 1rem;
}

.space {
  padding: 10px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4384f2;
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
}

.contact {
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .background {
    margin-left: 0;
  }
  .social {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .title {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 442px) {
  .title {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 480px) {
  .college_title {
    font-size: 1.3rem;
  }
  .date {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 417px) {
  .college_title {
    font-size: 1.15rem;
  }
  .date {
    font-size: 1.3rem;
  }
  .title {
    font-size: 1rem;
  }
}
